[user]
	name = lazygurus
	email = lazygurus@outlook.com
[http]
	proxy = http://127.0.0.1:7890
[https]
	proxy = https://127.0.0.1:7890
[credential]
	helper = manager
	store = manager
[init]
	defaultBranch = main
